/* ************************** Title ********************** */

h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
  font-size: 3.3rem;
  line-height: 1.5;

  /* padding-top: 4.5rem; */
  /* padding-bottom: 4.5rem; */
}

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 10%;
  /* padding-top: 4rem; */
}

.navbar {
  padding-bottom: 4rem;
  padding-right: 0;
  padding-left: 0;
}

.login {
  text-align: center;
  margin-top: 15%;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

.nav-item {
  padding-left: 9px;
  padding-right: 9px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 100;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/************************************* features ****************************/
#features {
  text-align: center;
}

.feature-box {
  padding: 8% 3%;
}

.feature-para {
  color: #8f8f8f;
  /* padding: 0 7%; */
}

.feature-icon {
  color: #ef8172;
  /* font-size: 3.5rem; */
  line-height: 1.6;
  /* padding-bottom: 5%; */
}

.feature-icon:hover {
  color: #ff4c68;
}

h3 {
  display: block;
  font-family: "Montserrat-Black", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
/* *********************** categories ************************* */
#categories {
  padding: 8% 12%;
  color: #fff;
  text-align: center;
  background-color: #ef8172;
}
.category-images {
  width: 60%;
  height: 80%;
  border-radius: 100%;
}
.categoty-para {
  padding: 20px 20px;
}
/* **************************** footer **************************** */
#footer {
  padding: 4% 12%;
  padding-bottom: 5px;
  text-align: center;
  background-color: #222831;
  color: white;
}
.footer-para {
  padding-top: 20px;
}
.foot-link {
  color: #7e7474;
  font-size: 1.2rem;
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 100;
}
.foot-link:hover {
  color: white;
}
/* ************************ g map and contact us *************************** */
.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 100px;
}
/* ****************************** electronics ********************************* */
.electronics-navbar {
  background-color: #ff4c68;
  color: white;
  padding: 4% 12%;
}
.place-order {
  background-color: #ff4c68;
  color: #fff;
  margin-bottom: 0;
  text-align: center;
  padding: 4% 12%;
}
.phone-img {
  border-radius: 8%;
}
/* ****************************** tack-order ****************************** */
.track-order-section {
  background-color: #ff4c68;
  color: white;
  padding: 4% 12%;
}
.track-order-heading {
  text-align: center;
}
/* ************************ details-heading ************************* */
#details {
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}
.details-body {
  background-color: #ff4c68;
}
.select-detail {
  padding: 3% 10%;
}
